@{
    ViewData["Title"] = "IzlenilenDersler";
    Layout = "~/Views/Shared/_OgrenciLayout.cshtml";
}


<div class="row">

    <div class="col-lg-12">

        <div class="ibox">
            <div class="ibox-title">
                Matematik
            </div>
            <div class="ibox-content">
                <div class="panel-group payments-method" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="float-right">
                                <i style="color:green" class="fa fa-check"></i>
                            </div>
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed" aria-expanded="false">Geniş Açılar</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" style="">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Konu İçerikleri</h2>
                                        <br />
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td class="project-title">
                                                        <a href="project_detail.html">Genel Test</a>
                                                        <br>
                                                        <small></small>
                                                    </td>
                                                   <td class="project-actions">
                                                        <a href="/Ogrenci/TestiSil/2" class="btn btn-outline-primary btn-sm"><i class="fa fa-link"></i> İçeriğe Git </a>
                                                        <a href="/MerkezeTeget/Test/2" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> İzlendi </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="project-title">
                                                        <a href="project_detail.html">Doğruda Açılar Kazanım Testi 1</a>
                                                        <br>
                                                        <small></small>
                                                    </td>
                                                  <td class="project-actions">
                                                        <a href="/Ogrenci/TestiSil/2" class="btn btn-outline-primary btn-sm"><i class="fa fa-link"></i> İçeriğe Git </a>
                                                        <a href="/MerkezeTeget/Test/2" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> İzlendi </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="float-right">
                                <i style="color:green" class="fa fa-check"></i>
                            </div>
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed" aria-expanded="false">Üçgende Açılar</a>
                            </h5>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" style="">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Konu İçerikleri</h2>
                                        <br />
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td class="project-title">
                                                        <a href="project_detail.html">Genel Test</a>
                                                        <br>
                                                        <small></small>
                                                    </td>
                                                    <td class="project-actions">
                                                        <a href="/Ogrenci/TestiSil/2" class="btn btn-outline-primary btn-sm"><i class="fa fa-link"></i> İçeriğe Git </a>
                                                        <a href="/MerkezeTeget/Test/2" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> İzlendi </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="project-title">
                                                        <a href="project_detail.html">Doğruda Açılar Kazanım Testi 1</a>
                                                        <br>
                                                        <small></small>
                                                    </td>
                                                    <td class="project-actions">
                                                        <a href="/Ogrenci/TestiSil/2" class="btn btn-outline-primary btn-sm"><i class="fa fa-link"></i> İçeriğe Git </a>
                                                        <a href="/MerkezeTeget/Test/2" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> İzlendi </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>