@using static Uygulama.Controllers.HomeController
@model List<Class1>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
       @foreach (var x in Model)
    {
    <tr>
        <td>@x.ID.</td>
        <td>@x.Name</td>
        <td><a href="/EmployeeTest/DeleteEmployee/@x.ID" class="btn btn-outline-danger">Sil</a></td>
        <td><a href="/EmployeeTest/EditEmployee/@x.ID" class="btn btn-outline-success">Düzenle</a></td>
    </tr>
    }
</body>
</html>
