@using EgitimPortali.Request.Kullanicilar
@model KullanicilarPostRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Merkeze Teğet Kayıt Ol</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all">

</head>

<body>

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Merkeze Teğet Kayıt Olma Sayfası</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Kayıt Ol</h2>
                        <form  method="post">
                            <input type="text" class="text" name="Ad" placeholder="Ad" required="" autofocus>
                            <input type="text" class="text" name="Soyad" placeholder="Soyad" required="" autofocus>
                            <input type="text" class="text" name="Mail" placeholder="Mail" required="" autofocus>
                            <input type="password" class="password" name="Sifre" placeholder="Şifre" required="" autofocus>
                            <button class="btn" type="submit">Kayıt Ol</button>
                        </form>

                        <p class="account">Hesabın mı var ? <a href="/Login/GirisYap">Giriş Yap</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="images/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>

</html>